<h1>Welcome to my relational database featuring Pokemon</h1>

<h3>Refresh for random pokemon!</h3>

<p>Number: <%= rand = (rand(1..151).to_s.rjust 3, "0") %><p>

<img src=https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%= rand %>.png alt="Pokemon" width="500" height="500">
